* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 360px;
  margin: 0 auto;
  background-color: #fff4f4;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 45px;
}

button {
  border: none;
  outline: none;

  cursor: pointer;
}

header {
  max-width: 360px;
  display: flex;
  gap: 16px;
  align-items: left;
  justify-content: left;
  margin-top: 32px;
}

header img {
  margin-left: 16px;
  border-radius: 50%;
  max-width: 57px;
  max-height: 57px;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;

  color: #464646;
}

header p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;

  color: #a3a3a3;
}

section {
  max-width: 360px;
  margin-bottom: 16px;
}

section .jour {
  max-width: 360px;
  width: 360px;
  height: 42px;
  display: flex;
  justify-content: left;
  align-items: center;
}

section h2 {
  margin-left: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;

  color: #464646;
}

section .rdv {
  max-width: 360px;
  height: 170px;
  backdrop-filter: blur(22px);
  border-radius: 8px;
}

section .details {
  max-width: 330px;
  width: 330px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

  margin-left: 16px;
  padding-block: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  backdrop-filter: blur(22px);
}

section img.profil {
  border-radius: 50%;
  max-width: 32px;
  max-height: 32px;
}

section .patient {
  display: flex;
  flex-direction: column;
  width: 230px;
  max-width: 230px;
}

section .patient h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;

  color: #464646;
}

section .patient img {
  max-width: 16px;
  max-height: 10.67px;
}

section .patient p {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;

  color: #a3a3a3;
}

section .patient .info-rendezvous {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

section .patient .info-rendezvous p {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

section img.chat {
  width: 13.33px;
  height: 13.33px;

  margin-right: 16px;
}

section .coordonnees {
  max-width: 330px;
  width: 330px;
  padding-left: 16px;

  margin-left: 16px;
  padding-top: 10px;

  backdrop-filter: blur(22px);
  border-radius: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 9px;

  margin-top: 1.5px;
  padding-bottom: 16px;
}

section .coordonnees .p {
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;

  color: #464646;
}

section .coordonnees div {
  display: flex;
  gap: 18px;
}

section button {
  border-radius: 8px;
}

section .coordonnees button.video {
  width: 139px;
  height: 48px;

  background: #ffb050;
  border: 1px solid #ffb050;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  line-height: 160%;

  text-align: center;

  color: #ffffff;

  cursor: pointer;
}

section .coordonnees button.audio {
  width: 139px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #ececec;

  color: #464646;

  margin-right: 16px;
  cursor: pointer;
}

section .coordonnees button.adresse {
  width: 296px;
  height: 48px;

  background: #4894ff;
  box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
  border-radius: 8px;
  border: none;

  margin-right: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 160%;

  color: #ffffff;
  cursor: pointer;
}

footer {
  max-width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;

  background: #ffffff;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 12px 12px 0px 0px;
  padding: 10px;

  position: fixed;
  width: 360px;
  bottom: 0;
}

footer button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;

  font-weight: 400;
  font-size: 12px;
  line-height: 160%;

  text-align: center;

  color: #464646;

  background: transparent;

  opacity: 0.6;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 80%;
  height: 250px;
  margin-inline: auto;
}

aside button {
  background: #4894ff;
  box-shadow: 0px 4px 4px rgba(255, 152, 56, 0.06);

  border-radius: 50%;
  width: 56px;
  height: 56px;
}

aside .nouveau {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  justify-self: right;
  gap: 15px;
}

aside .nouveau div {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
}

aside .nouveau div label {
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;

  text-align: center;

  color: #464646;

  background-color: #fff;
  border-radius: 2323px;
  padding: 2px 8px;
}

aside .plus {
  display: flex;
  justify-content: right;
}

footer button:hover {
  color: #4894ff;
  opacity: 1;
}

footer button#rdv img:hover {
  content: url('assets/Calendarioicone-hover.svg');
}

footer button#patients img:hover {
  content: url('assets/clientes icone-hover.svg');
}

footer button#rapports img:hover {
  content: url('assets/relatorios icone-hover.svg');
}

footer button#menu img:hover {
  content: url('assets/menu icone-hover.svg');
}
